@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body{
	font-family: 'Amatic SC', cursive;
	margin-top: 80px;
}

#menu{
	font-size: 20px;
	width: 100%;
	position: fixed;
	top: 10px;
	background: white;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	height: 30px;
	width: 100%;
	justify-content: space-evenly;

}
#menu ul li {
	width: 100%;
	text-align: center;

}

#menu ul li:first-of-type{
	font-size: 35px;
	font-style: italic;
	line-height: 20px;


}

#menu ul li a{
	text-decoration: none;
	color: #000;


}
#menu ul li:hover {
	
	border-bottom: 7px solid red;

}

#menu ul li: hover a{
	text-decoration: underline;

}



#works{
	display : grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;

}
#work a{
	text-decoration: none;
	color: black;

}

.work{
	position: relative;
	overflow: hidden;
}

.wimg{
	overflow: hidden;
	height: 300px;
	display: grid;
	
}

.wimg img{
	width: 150%;
	margin-top: -20%;
	justify-self: center;
	align-self: center;
}

h2.wtitle{
	color: gray;




}

.winfo{
	position: absolute;
	top: 0;
	left: 0;
	background: ghostwhite;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 35%;
	color: darkgrey;
	opacity: 0;
	transition: all 0.3s ease;
	transform: scale(5);

}

.work:hover .winfo{
	opacity: 85%;
	transform: scale(1);

}
 .wdate{}


#gal {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	align-content: center;


}

#gal .simg{

outline: 1px solid #000;
min-height: 150px;
overflow: hidden;
display: grid;
align-items: center;
justify-items: center;
justify-content: center;
align-content: center;


}

#gal .simg img{
	width: 100%;
	height: 100%;
}


.fullsize {
	grid-column: span 3 ;
	height: auto!important;
}

.fullsize img {
	max-height: 100%;
	max-width: 100vw;
    height: auto!important;
}